h1 {
  margin: 80px 0;
  font-size: 40px;
}

.layout {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}

.layout .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; 
  justify-content: end;
}

.layout .item img {
  margin-bottom: 10px;
}

.layout .item h2 {
  margin-bottom: 10px;
}

.layout .item .price {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .layout {
    display: block;
  }

  .layout .item {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 30px;
    margin: 50px 0;
  }
}
