p {
  color: salmon;
  font-size-adjust: 7;
  font-family: Consolas;
  background-color: palegreen;
}

p#hewan {
  color: darksalmon;
  font-size-adjust: 1;
  font-family: Consolas;
  background-color: khaki;
}
